<header>  
  <div class="header-container">
    <div id='title2'>
      <h1 id='title'><a routerLink='/'>NBA Bet</a></h1>
    </div>
    <nav id="nav-bar">
      <ul class="nav-list">
        <!-- <li class="navlink"><a class="nav-link" routerLink='/login'>Login</a></li> -->
        <!-- <li class="navlink"><a class="nav-link" routerLink='/register'>Register</a></li> -->
        <li class="navlink" *ngIf="!(isLoggedIn$ | async);"><a class="nav-link" routerLink='/login'>Login</a></li>
        <li class="navlink" *ngIf="!(isLoggedIn$ | async);"><a class="nav-link" routerLink='/register'>Register</a></li>
        <!-- <li class="navlink" *ngIf="(isLoggedIn$ | async);"><a class="nav-link" routerLink='/home'>Home</a></li> -->
        <li class="navlink" *ngIf="(isLoggedIn$ | async);"><a class="nav-link" routerLink='/login'>Logout</a></li>
        <li class="navlink"><a class="nav-link" routerLink='/about'>About</a></li>
      </ul>
    </nav>
  </div>
</header>
  