<div class="table-container"> 
  <h2>Match History</h2>
    <table>
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Your Player</th>
          <th>Opponent Player</th>
          <th>Your Bet</th>
          <th>Opponent Bet</th>
          <th>State1</th>
          <th>State2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of matches">
            <td>{{m.user2.email}}</td>
            <td>{{m.player1[3]}}</td>
            <td>{{m.player2[3]}}</td>
            <td>{{m.bet1}}</td>
            <td>{{m.bet2}}</td>
            <td>{{m.state1}}</td>
            <td>{{m.state2}}</td>
            <td class="td-view"><button class="button-view" (click)="viewMatch(m)">View</button></td>
        </tr>
        <tr class="tr-fill"></tr>
      </tbody>        
    </table>
</div>

<!-- <app-modal id="custom-modal-2"> -->
  <!-- <app-match></app-match> -->
<!-- </app-modal> -->