/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
@import url("//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0px;
    /* text-align: center; */
}

.content {
    min-height: calc(100vh - 91px);
    padding-bottom: 0;
  }

  /* MODAL STYLES
-------------------------------*/
app-modal {
    /* modals are hidden by default */
  
    display: none;
  }
  app-modal .app-modal {
    /* modal container fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .app-modal-background */
  
    z-index: 1000;
    /* enables scrolling for tall modals */
  
    overflow: auto;
  }
  app-modal .app-modal .app-modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
  
    margin: 40px;
  }
  app-modal .app-modal-background {
    /* modal background fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
  
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .app-modal and above everything else  */
  
    z-index: 900;
  }
  body.app-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
  }
  