/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
@import url("//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0px;
    /* text-align: center; */
}

.content {
    min-height: calc(100vh - 91px);
    padding-bottom: 0;
  }