.picture-swipe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 400px;
    width: auto;
}

.start {
    margin-top: 300px;
}

button {
    background-color: orangered;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
  }
