.footer {
    font-size: 12px;
    background-color: #ddd;
    text-align: right;
    padding: 15px;
    height: 75px;
  }
  
  .footer-info {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
    padding: 2.5px;
  }
  
  .footer-info > a {
    font-size: 12px;
    color: black;
    text-decoration: none;
  }

  .copyright {
    margin-bottom: 0;
  }